img{
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    height: auto;    /* Automatically adjusts height to maintain aspect ratio */
}
.topnav {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
.topnav img {
    height: 75px;
    width: auto;
}
.photo-container {
    text-align: center;
    margin-top: 20px;
    width: 300px;
    height: 100%;
    overflow: hidden;
}
.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}